<h1>ツイート編集</h1>

<%= form_for @tweet, :url=> {action: :update} do |f| %>
<%= render 'form', f: f %>
  ツイート日時: <%= @tweet.tdate %>
  <%= f.hidden_field :tdate %></p>

<% end %>

<%= link_to '戻る', root_path %>
