  <html>
    <head>
  
  <link rel="stylesheet" href="index.css">
  </head>
  <body>
    
        <div class="body-top">
          <div class="body-prof">
          <%= link_to 'ツイート', root_path, class:"body-logo" %>
          <%= link_to 'フォロー', root_path, class:"body-logo" %>
          <%= link_to 'フォロワー', root_path, class:"body-logo" %>
          <%= link_to 'いいね', root_path, class:"body-logo" %>
          <%= link_to 'プロフィールを編集', new_tweet_path, class: "body-logo" %>
          </div>
        </div>
<br>
<div class="container">
                      <div class="prof">
<ul>
  <h2>Usr_name</h2>
    <li>@usr_id</li>
    <br>
    <p>はまぐりはまぐり</p>
</ul>
    </div>

  <div class="tweet-table" align="center">
    <table border = 1 class="tw-table">
      <thead>
        <tr>
          <th>ツイート</th>
        </tr>
      </thead>

    <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            
            <td><img src="12YbL9j9_400x400.jpg"class="header-prof-icon"> <b>Usr_name</b> @Usr_id <align="right"><%= ((Time.current - tweet.tdate)/60).to_i %>分前
            <br>
            
            <h1><%= tweet.message %></h1>
            <p align ="right">
            <%= link_to '表示', tweet_path(tweet.id) %>
            <%= link_to '編集', edit_tweet_path(tweet.id) %>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' } %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    </div>
        


    </div>


  
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <br>
    </body>
    <html>
