body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
  width: 100%;
  background-color: #F0F8FF;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4,
h5 {
  color: #444;
  font-size: 18px;
}

h3:before,
h3:after {
  content: "";
  background-color: #616161;
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 0 6rem;
  vertical-align: middle;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: white;
}


header {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 40px;
  box-shadow: 10px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  float: left;
  color: #777;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo:hover {
  color: #00b2ff;
  border-bottom: solid 2px #00a1ff;
  transition: color .3s;
}

.header-menu {
  float: right;
  padding-top: 2.5px;

}


.header-icon {
  padding-top: 3px;
  margin-left: 150px;
}

.header-search-field {
  height: 30px;
  background: #EFF2FB;
  height: 35px;
  margin: 1px;
  margin-right: 25px;
  display: block;
  font-weight: 700;
  padding: 0px 18px 0px 18px;
  border-radius: 30px;
  text-align: left;
}

.header-prof-icon {
  display: inline-block;
  margin-right: 15px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.tweet-btn a {
  height: 35px;
  margin: 1px;
  display: block;
  font-weight: 700;
  background-color: #00b2ff;
  padding: 0px 18px 0px 18px;
  border-radius: 30px;
  color: #FFF;
  text-align: center;
}

.tweet-btn a:hover {
  background-color: #00a1ff;
  transition: color .3s;
}

.tweet-btn li {
  float: left;
}

/*--------------------------------------------------------*/

.top-section {
  margin: 0 auto;
  text-align: center;
  background-image: url("back.png");
  background-size: cover;
}

.top-inner {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-description {
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-prof-icon {
  position: relative;
  display: inline-block;
  top: 200px;
  right: 500px;
  border-radius: 150px;
  width: 200px;
  height: 200px;
  z-index: 20;
  border: 5px #FFF solid;
}

.top-section h2 {
  font-family: 'Dosis', sans-serif;
  color: #d0d0d0;
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: #bababa;
  font-size: 18px;
  line-height: 30px;
}

.top-section .top-button {
  margin-top: 40px;
  margin-bottom: 40px;
}


footer {
  text-align: center;
  padding: 40px 0;
  color: #999;
  background-color: #222;
}

.social-icon {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  background: rgba(94, 144, 255, 0.75);
  width: 52px;
  height: 52px;
  padding-top: 13px;
  border-radius: 50%;
  color: #e3e3e3;
  font-size: 24px;
  margin: 0 15px;
}

.social-icon:hover {
  color: #e3e3e3;
  background-color: rgb(94, 144, 255);
}

/*-------footer--------*/

.body-top {
  margin-left: 0px;
  height: 55px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.body-logo {
  position: relative;
  left: 40%;
  float: left;
  color: #777;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
}

.body-logo:hover {
  color: #00b2ff;
  border-bottom: solid 2px #00a1ff;
  transition: color .3s;
}

.tweet-container {
  float: letf;
  z-index: 15;
}
