<!DOCTYPE html>
<html lang="ja">
<head>
  <title>LikeTwitter</title>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Like_Twitter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div class="container">
        <div class="header-title">
          <%= link_to 'ホーム', root_path, class:"header-logo" %>
          <%= link_to 'モーメント', root_path, class:"header-logo" %>
          <%= link_to '通知', root_path, class:"header-logo" %>
          <%= link_to 'メッセージ', root_path, class:"header-logo" %>
          <img src="bird.PNG" class="header-icon">
        </div>
        <div class="header-menu">
          <ul class="tweet-btn">
            <li>
              <%= text_field_tag "#", "キーワードを検索", class: 'header-search-field' %>
            </li>     
            <li>
              <img src="12YbL9j9_400x400.jpg"class="header-prof-icon">
            </li>             
            <li>
              <%= link_to 'ツイート', new_tweet_path %>
            </li>
          </ul>
        </div>
      </div>
      
    </header>
      <div class="top-section gray-section">
    <div class="top-inner">
      
      <div class="container">
        <div class="top-description">
          <a href = "https://www.digitalcombatsimulator.com/en/"><h2>Initializin'....</h2></a>
          <p>Ready...?</p>
          
        </div>
      </div>
      <img src="12YbL9j9_400x400.jpg" class="top-prof-icon">
    </div>
    
  </div>

      </div>  
  
  <%= yield %>


  <footer>
    <div class="container">
      <div class="follow-us">
        <a href="https://www.facebook.com/" class="social-icon" target='_blank'>
          <span class="fa fa-facebook"></span>
        </a>
        <a href="https://twitter.com" class="social-icon" target='_blank'>
          <span class="fa fa-twitter"></span>
        </a>
      </div>
    </div>
  </footer>
    <script type="text/javascript" src="app/assets/javascripts/application.js"></script>
</body>
</html>
